@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.pertama-load{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: blue;
    position: relative;
    top: 30%;
    margin-left: 30%;
}
.bungkus-pesan{
    border: 2px solid red;
}