@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


.right-side{
    display: fixed;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    top: 0;
    background: #F5F6FA;
    vertical-align: center;
    text-align: center;

}
h2{
    position: relative;
    top: 40%;
}
.logotb{
    border: 2px solid black;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 20px;
}
.online{
    margin-top: 20px;
}
.online::after{
    content: "TAMBA BERKAT";
}

.jarak{
    margin-left: 20px;
}
.jarak::before{
    content: "";
    display: inline-block;
    background: rgb(11, 156, 42);
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.center-content{
    font-family: 'Source Sans Pro', sans-serif;
    display: grid;
    overflow-y: auto;
    position: absolute;
    top: 20%;
    bottom: 10%;
    right: 0;
    left: 0;
    row-gap: 10px;
}
.me-chat{
    padding: 10px;
    max-width: 50%;
    border-radius: 10px;
    border-top-left-radius: 0;
    background: #0176FF;
    justify-self: left;
    color: white;
    align-self: center;
    margin-left: 100px;
}
.your-chat{
    border-radius: 10px;
    border-top-right-radius: 0;
    padding: 10px;
    max-width: 50%;
    margin-right: 100px;
    background: #F5F6FA;
    justify-self: right;
    align-self: center;
}
.left-side{
    display: fixed;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    top: 0;

} 
.top-header{
    border-bottom: 1px solid #EDEEF6;
    position: absolute;
    display: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.bottom-footer{
    position: absolute;
    display: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 90% 10%;
}
.lingkaran{
    align-self: center;
    justify-self: center;
    padding: 10px;
    border-radius: 100%;
    width: 50px;
    min-width: 30px;
    min-height: 30px;
    height: 50px;
    cursor: pointer;
    background: #0176FF;
    font-size: 20px;
    color: white;
}

@media only screen and (max-width: 1000px) {
.right-side{
    display: none;
}

.left-side{
    width: 100%;
}

.me-chat{
    max-width: 80%;
    margin-left: 20px;
}
.your-chat{
    max-width: 80%;
    margin-right: 20px;
}
.bottom-footer{
    grid-template-columns: 80% 10%;
    padding-left: 20px;
}


}

