
.kanan{
	width: 90%;
	margin:auto;
	display: grid;
	padding: 30px;
	margin-top: 30px;
	border-radius: 20px;
	grid-gap: 20px;
	background: red;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}
.Judul{
	grid-column-start: 1;
	grid-column-end: 8;
	grid-row-start: 1;
	grid-row-end: 2;
	align-self: center;
	justify-self: center;
}
.bawah{
	width: 100px;
	padding: 30px;
	border: 2px solid green;
	background: blue;
	margin-top: 30px;
	border-radius: 20px;
	transition: background 2s;
	color: white;
}
h4{
	color:white;
}
h3{
	text-shadow: 4px 4px 10px white;
	
}
.cek{
	font-family: algerian;
	display: grid;
	grid-template-columns: auto 100px;
	background: rgb(153,153,153);
	font-size: 24px;
	text-align: center;
	vertical-align: center;
	padding-top:20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

}
.kasihpadding{
	padding: 40px;
	height: 400px;
	overflow: auto;
	z-index: -999;
	border-radius: 30px;
}
.bagianinput{
	padding: auto;
	display:grid;
	background: rgb(153,153,153);
	grid-template-columns: 30px auto 70px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.kirim{
	cursor: pointer;
	color: blue;
	font-size: 20px;
}
.me{
	display: grid;
	grid-gap: 10px;
	margin: 5px;
	grid-template-columns: 20px 300px;
}
.orangnya{
	align-self: center;
}
.pesannya{
	background: blue;
	padding: 5px;
	border-radius: 10px;
	color: white;
	justify-self: left;
	
}
.your{
	display: grid;
	grid-gap: 10px;
	margin: 10px 5px;
	grid-template-columns: 300px 20px;
	justify-content: right;
}
.pesanmu{
	background: white;
	padding: 5px;
	border-radius: 10px;
	justify-self: right;
}
.tombolchat{
	color: blue;
	font-size: 60px;
	position: fixed;
	right: 0;
	bottom: 0;
	cursor: pointer;
}
.textarea{
	width:100%;
	overflow: hidden;
	resize: none;
	padding: 10px;
	border: 1px solid orange;
	outline-style: none;
	border-radius: 20px;	
}
.gambarlogo{
	width: 20px;
}
.meratakan{
	align-self: center;
}
.add{
	justify-self: center;
}
.close{
	font-size: 40px;
	cursor: pointer;
	color: red;
}
.bawah:hover{
	background: red;
}