
.Konten{
	width:1300px;
	height:620px;
	margin:auto;
	display: grid;
	grid-template-columns: 1100px 200px;
	/*grid-template-rows: 500px 70px;*/
}
.Kanan{
	grid-column-start: 1;
	grid-column-end: 8;
	grid-row-start: 2;
	grid-row-end: 3;
	background: rgb(6,114,229);
	border-radius:30px;
	display: grid;
	grid-template-columns: 125px 125px 125px 125px 125px 125px 125px;	
	grid-column-gap: 20px;
	margin:auto;
	margin-top:10px;

}
.bungkusKanan{
	display: grid;
	grid-template-rows: 100px 400px auto;
	grid-template-columns: 120px 120px 120px 120px 120px 120px auto;	
	margin:20px;
	background: rgb(6,114,229);
	border-radius:30px;

}
.Kiri{
	background: rgb(204,204,203);
	border-radius:30px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	margin-top: 20px;
	margin-bottom:20px;
	display: grid;
	grid-template-rows: 80px 400px 100px;
	width: 500px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
	box-shadow: 10px 10px 40px orange;
}
.Judul{
	grid-column-start: 1;
	grid-column-end: 8;
	grid-row-start: 1;
	grid-row-end: 2;
	align-self: center;
	justify-self: center;
}
.bawah{
	grid-column-start: 1;
	grid-column-end: 8;
	grid-row-start: 3;
	grid-row-end: 4;
	align-self: center;
	justify-self:center;
	background: white;
	padding:10px;
	padding-left:50px;
	padding-right: 50px;
	border-radius:10px;
}
h4{
	color:white;
}
h3{
	text-shadow: 4px 4px 10px white;
	
}
.Atk{
	color:red;
}
.cek{
	font-family: algerian;
	background: rgb(153,153,153);
	font-size: 24px;
	text-align: center;
	vertical-align: center;
	padding-top:20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

}
.kasihpadding{
	padding: 20px;
	height: auto;
	overflow: auto;
	z-index: -999;
	border-radius: 30px;
}
.bagianinput{
	padding: auto;
	display:grid;
	background: rgb(153,153,153);
	grid-template-columns: 30px auto 70px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.kirim{
	cursor: pointer;
	color: blue;
	font-size: 20px;
}
.me{
	display: grid;
	grid-gap: 10px;
	margin: 5px;
	grid-template-columns: 20px 300px;
}
.orangnya{
	align-self: center;
}
.pesannya{
	background: blue;
	padding: 5px;
	border-radius: 10px;
	color: white;
	justify-self: left;
	
}
.your{
	display: grid;
	grid-gap: 10px;
	margin: 10px 5px;
	grid-template-columns: 300px 20px;
	justify-content: right;
}
.pesanmu{
	background: white;
	padding: 5px;
	border-radius: 10px;
	justify-self: right;
}
.tombolchat{
	color: blue;
	font-size: 60px;
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: pointer;
}
.textarea{
	width:100%;
	overflow: hidden;
	resize: none;
	padding: 10px;
	border: 1px solid orange;
	outline-style: none;
	border-radius: 20px;	
}
.gambarlogo{
	width: 20px;
}
.meratakan{
	align-self: center;
}
.add{
	justify-self: center;
}