/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(151, 136, 136,0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(151, 136, 136);
}